<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rhythmsticks"
    >

  <application
      android:allowBackup="false"
      android:icon="@drawable/ic_launcher"
      android:label="Rhythm Sticks Example"
      android:theme="@style/Theme.RhythmSticks"
      >

    <activity
        android:name=".ExampleActivity"
        android:label="Rhythm Sticks"
        >

      <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
        <category android:name="android.intent.category.DEFAULT"/>

      </intent-filter>

    </activity>

  </application>

</manifest>
